{% extends "base.html" %}
{% load static %}
{% block body %}
<link href = "{% static 'css/styles.css' %}" rel="stylesheet">
<h3>
    {{author.name}} 
    {% if perms.tracker.change_author %}
    <a href = "{% url 'tracker:update-author' author.pk %}" ><img src = "{% static 'tracker/pen.png' %}" class = "logo"> </a>
    <a href = "{% url 'tracker:delete-author' author.pk %}" ><img src = "{% static 'tracker/cross.png' %}" class = "logo"> </a>
    {% endif %}
</h3> 
{% if perms.tracker.add_book %}
<a href = "{% url 'tracker:create-book' author.pk %}">Добавить книгу для {{author.name}}</a>
{% endif %}
<ul>
{% for book in books  %}
<li>
{{book.pk}} <a href = "{% url 'tracker:detail-book' book.pk %}">{{book.name}} </a>
</li>
{% empty %}
<p>У этого автора нету доступных книг</p>
{% endfor %}
</ul>
<a href = "javascript:history.go(-1)">Назад</a>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1"><- first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следуйщая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя -></a>
        {% endif %}
    </span>
</div>
{% endblock body %}