{% extends "base.html" %}
{% block body %}
<p>
    <form method = "post">
    {% csrf_token %}
        <h1>Вы уверены что хотите удалить книгу: {{book.name}} ?</h1>
        <p>Последствия:</p>
        <p>Это приведет к удалению книги</p>
        <p>Это приведет к удалению всех логов связанных с этой книгой</p>
        <button type = "submit">Удалить книгу</button>
    </form>
</p>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Нельзя удалить книгу которая ещё не возвращена всеми пользователями</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
{% if error_flag %}
<script>
    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
    myModal.show();
</script>
{% endif %}
{% endblock body %}