{% extends "base.html" %}
{% block body %}
<p>Фильтрация</p>
<form method = "post">
    {% csrf_token %}
  <label for="id">ID:</label>
  <input type="text" id="id" name="id" size="4">
  <label for="name">Название:</label>
  <input type="text" id="name" name="name"><br><br>
  <p>Дата выдачи:</p>
  <label for="give_year">Год</label>
  <input type="text" id="give_year" name="give_year" size="4">
  <label for="give_month" >Месяц</label>
  <input type="text" id="give_month" name="give_month" size="4">
  <label for="give_day">День</label>
  <input type="text" id="give_day" name="give_day" size="4"><br><br>
  <p>Дата возварата:</p>
  <label for="return_year">Год</label>
  <input type="text" id="return_year" name="return_year" size="4">
  <label for="return_month">Месяц</label>
  <input type="text" id="return_month" name="return_month" size="4">
  <label for="return_day">День</label>
  <input type="text" id="return_day" name="return_day" size="4"><br><br>
  <label for="username">ФИО держателя:</label>
  <input type="text" id="username" name="username"><br><br>
<button type="submit">Фильтрация</button> <button type="submit">Сбросить</button>
</form><br>

<ul>
{% for log in logs %}
<li>
ID: {{log.book.pk}}
Название: {{log.book.name}} <br>
Выдана: {{log.give_date}} <br>
Возвращена: {{log.return_date}} <br>
Кому: {{log.reader.name}} <br>
<br>
</li>
{% empty %}
 Данных нет !
{% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1"><- Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">Предыдующая</a>
        {% endif %}
        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя -></a>
        {% endif %}
    </span>
</div>
{% endblock body %}