<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
    {% endblock title %}
    </title>
    {% block head %}
    {% endblock head %}
</head>
<body>
 <a href = "{% url 'tracker:list-book' %}"> Список доступных книг </a>
 <a href = "{% url 'tracker:list-author' %}"> Список авторов </a>
 {% if request.user.is_authenticated %} 
 {{request.user.last_name}} <br>
 <a href = "{% url 'users:logout-user'%}">Выйти из аккаунта</a>
 {% else %}
 {% endif %}
    {% block body %}
    {% endblock body %}
</body>
</html>